**/node_modules
**/reports
.idea/cypressframework.iml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.history/
.package-lock.json/
.debug.log
**/mochawesome-report
**/mochareports
**/cypress/screenshots
**/cypress/videos
**/public
**/downloads
**/depricated
cypress.env.json
